// Fonts
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');

// Colors

// // Option #1
// $dark-blue: #2F3C7E;
// $light-pink: #FBEAEB;

// // Option #2
// $island-green: #2BAE66;
// $white: #FCF6F5;

// // Blue to complement option #2
// $complementary-blue: #34AEE4;
// $analogous-blue: #34B0E4;
// $pastel-blue: #A4D3E4;
// $navy-blue: #001F3F;

// // Option #3
// $peach: #FCEDDA;
// $burnt-orange: #EE4E34;

$dark-blue: #0f0475;
$purple: #5425e3;
$light-purple: #8663fd;
$white: #fefffa;