.indexWrap {
	h1, h2, h3, h4 {
		color: $purple;
	}
	div{
		p {
			margin-bottom: 2rem;
			span {
				display: block;
				text-transform: uppercase;
				font-weight: 900;
				color: $purple;
				
			}
		}
	}
}