.navigation {
	background-color: $purple;
	text-transform: uppercase;

	.nav-link {
		text-align: center;
		color: $super-light-blue;
		font-weight: 200;
		}

	a.nav-link.active {
		color: $green;
		font-weight: 800;

	}
}