@import 'bootstrap/scss/bootstrap';
@import 'dropZone';
@import 'config';
@import 'nav';
@import 'tables';
@import 'tabs';
@import 'infoWindow';
@import 'indexPage';

body {
	background-color: $white;
	font-family: "Karla", sans-serif;
	max-width: 100vw;
	overflow-x: hidden;
}

p {
	margin-bottom: 0.25rem;
}

.search-input {
	border: none;
	min-width: 200px;
	max-width: 300px;
}

.placeListItem {
	background-color: $green;
	border: none;
}

.dashboard-badge {
	color: $white;
}

.loading-spinner-wrapper {
	max-width: 100vw;
	max-height: 100vh;
	position: absolute;
	top: 48vh;
	left: 45vw;
}

.btnGradient {
	transition: 0.5s;
	background: rgb(61,218,180);
	background: -moz-linear-gradient(90deg, rgba(61,218,180,1) 0%, rgba(108,25,255,1) 50%, rgba(61,218,180,1) 100%);
	background: -webkit-linear-gradient(90deg, rgba(61,218,180,1) 0%, rgba(108,25,255,1) 50%, rgba(61,218,180,1) 100%);
	background: linear-gradient(90deg, rgba(61,218,180,1) 0%, rgba(108,25,255,1) 50%, rgba(61,218,180,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3ddab4",endColorstr="#3ddab4",GradientType=1);
	background-size: 200% auto;
	border: none;
	&:hover {
	background-position: right center;
	}
}
.sub-nav-menu-wrap {
	background: $green;
}
.btnWrap {
	min-width: 282px;
}
.sub-nav-menu {
	background: $green;
	padding: 0.1em 1em;
	display: flex;
	justify-content: space-around;
	align-items: center;
	max-width: 1320px;
	margin: 0 auto;
	width: 100%;

	button {
		min-width: fit-content;
		height: fit-content;
		margin: 0.2rem;
		border: none;
		background: $purple;
		&:hover {
			background: $light-purple;

		}
	}
	form {
		height: fit-content;
	}
}

.btnOffCanvas {
	border: none;
	background: $purple;
	&:hover {
		background: $light-purple;
	}
}

.selectWrap {
	width: 400px;
	display: flex;
	gap: 0.5rem;
	select {
		height: fit-content;
		min-width: fit-content;
	}
}

#initial-loader {
	background-color: #212529;
	display: flex;
	min-height: 100vh;
	justify-content: center;
	align-items: center;
}
[data-reach-combobox] {
	min-width: 294px;
	height: fit-content;
	input {
		border-radius: 0.5rem;
		height: fit-content;
	}
}

@media (max-width: 900px) {
	.btnWrap {
		button {
			display: block;
			margin: 0.2rem auto;
		}
	}
	.sub-nav-menu {
		justify-content: center;
		flex-wrap: wrap;		
		input {
			margin-bottom: 0.5rem;
		}
		form {
			flex-wrap: wrap;
			select {
			margin: 0.2rem
			}
		}
	}
}